
<div class="title-block">
  <h2>Phụ kiện</h2>
  <div class="list-cat"> 
    <a href="https://onewaymobile.vn/phu-kien-pc32.html">
      Xem tất cả <b>275</b> sản phẩm                    
    </a>
  </div>
</div>
<div class="list-categories">
    <a class="b-item-cat" href="https://onewaymobile.vn/bo-sac-pc74.html">
        <img onerror="this.src='/images/NA-icon.svg'" src="https://onewaymobile.vn/images/products/cat/resized/bo-sac_1663662780.webp" alt="Bộ sạc" class="img-responsive">
        <div class="">
            <p class="name-cat">Bộ sạc</p>
            <p class="link-cat">Xem tất cả <i class="fa fa-angle-right"></i></p>
        </div>
    </a>
    
    <a class="b-item-cat" href="https://onewaymobile.vn/bao-da-ban-phim-pc75.html">
        <img onerror="this.src='/images/NA-icon.svg'" src="https://onewaymobile.vn/images/products/cat/resized/baodabanphim_1663662756.webp" alt="Bao da - Bàn phím" class="img-responsive">
        <div class="">
            <p class="name-cat">Bao da - Bàn phím</p>
            <p class="link-cat">Xem tất cả <i class="fa fa-angle-right"></i></p>
        </div>
    </a>
    
    <a class="b-item-cat" href="https://onewaymobile.vn/action-camera-pc87.html">
        <img onerror="this.src='/images/NA-icon.svg'" src="https://onewaymobile.vn/images/products/cat/resized/action-camera_1663662724.webp" alt="Action Camera" class="img-responsive">
        <div class="">
            <p class="name-cat">Action Camera</p>
            <p class="link-cat">Xem tất cả <i class="fa fa-angle-right"></i></p>
        </div>
    </a>
    
    <a class="b-item-cat" href="https://onewaymobile.vn/op-lung-pc90.html">
        <img onerror="this.src='/images/NA-icon.svg'" src="https://onewaymobile.vn/images/products/cat/resized/op-lung_1663662696.webp" alt="Ốp lưng" class="img-responsive">
        <div class="">
            <p class="name-cat">Ốp lưng</p>
            <p class="link-cat">Xem tất cả <i class="fa fa-angle-right"></i></p>
        </div>
    </a>
    
    <a class="b-item-cat" href="https://onewaymobile.vn/kinh-cuong-luc-pc168.html">
        <img onerror="this.src='/images/NA-icon.svg'" src="https://onewaymobile.vn/images/products/cat/resized/kinh-cuong-luc-onewaymobile_1665653754.webp" alt="Kính cường lực" class="img-responsive">
        <div class="">
            <p class="name-cat">Kính cường lực</p>
            <p class="link-cat">Xem tất cả <i class="fa fa-angle-right"></i></p>
        </div>
    </a>
    
    <a class="b-item-cat" href="https://onewaymobile.vn/phu-kien-khac-pc60.html">
        <img onerror="this.src='/images/NA-icon.svg'" src="https://onewaymobile.vn/images/products/cat/resized/pkk_1688993489.webp" alt="Phụ kiện khác" class="img-responsive">
        <div class="">
            <p class="name-cat">Phụ kiện khác</p>
            <p class="link-cat">Xem tất cả <i class="fa fa-angle-right"></i></p>
        </div>
    </a>
</div>
