<div class="title-block">
  <h2>Phụ kiện nổi bật</h2>
  <div class="list-cat">
          <a title="Bộ sạc" class="item-cat" href="https://onewaymobile.vn/bo-sac-pc74.html">
            <span>Bộ sạc</span>
          </a>
          <a title="Bao da - Bàn phím" class="item-cat" href="https://onewaymobile.vn/bao-da-ban-phim-pc75.html">
            <span>Bao da - Bàn phím</span>
          </a>
          <a title="Phụ kiện khác" class="item-cat" href="https://onewaymobile.vn/phu-kien-khac-pc60.html">
            <span>Phụ kiện khác</span>
          </a>
          <a title="Kính cường lực" class="item-cat" href="https://onewaymobile.vn/kinh-cuong-luc-pc168.html">
            <span>Kính cường lực</span>
          </a>
          <a title="Action Camera" class="item-cat" href="https://onewaymobile.vn/action-camera-pc87.html">
              <span>Action Camera</span>
          </a>
          
      <a title="Phụ kiện" class="item-all" href="https://onewaymobile.vn/phu-kien-pc32.html">
        Xem tất cả <b>275</b> sản phẩm                
      </a>
  </div>
</div>
<div class="list-products">
  <div class="tmpl-item-product">
    <div class="c-item">
      <a href="https://onewaymobile.vn/but-cam-ung/apple-pencil-2023-usb-c-chinh-hang-muwa3-dp1411.html">
        <div class="product-image">
          <img class="img-responsive img-prd lazy-loaded" data-src="https://onewaymobile.vn/images/products/2024/03/20/resized/thiet-ke-chua-co-ten---2024-03-20t120136293_1710911135.webp" width="170" height="170" onerror="this.src='/images/NA-icon.svg'" alt="Apple Pencil 2023 USB-C (MUWA3)" src="https://onewaymobile.vn/images/products/2024/03/20/resized/thiet-ke-chua-co-ten---2024-03-20t120136293_1710911135.webp">
          <div class="box-absolute"></div>
          <div class="count_down_fl"></div>
        </div>
      </a>
      <a href="https://onewaymobile.vn/but-cam-ung/apple-pencil-2023-usb-c-chinh-hang-muwa3-dp1411.html" class="product-name">Apple Pencil 2023 USB-C (MUWA3).</a>
      <div class="product-tech">
        <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Kích thước, Trọng lượng: Đường kính: 8.9 mm Dài: 155 mm">Đường kính: 8.9 mm Dài: 155 mm</span>
      </div>
      <div class="product-price">
        <span class="price">1.990.000₫</span>
      </div>
      <div class="product-status">
        <span>Mới 100%</span>
        <div class="product-rate">
          <div class="star-rating" style="--rating: 4.6;"></div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="tmpl-item-product">
    <div class="c-item">
      <a href="https://onewaymobile.vn/z-series-1/dan-man-hinh-galaxy-z-flip5-chinh-hang-dp1189.html">
        <div class="product-image">
          <img class="img-responsive img-prd lazy-loaded" data-src="https://onewaymobile.vn/images/products/2023/08/22/resized/dan-man-hinh-z-flip-5_1692697821.webp" width="170" height="170" onerror="this.src='/images/NA-icon.svg'" alt="Dán Màn Hình Galaxy Z Flip5" src="https://onewaymobile.vn/images/products/2023/08/22/resized/dan-man-hinh-z-flip-5_1692697821.webp">
          <div class="box-absolute"></div>
          <div class="count_down_fl"></div>
        </div>
      </a>
      <a href="https://onewaymobile.vn/z-series-1/dan-man-hinh-galaxy-z-flip5-chinh-hang-dp1189.html" class="product-name">Dán Màn Hình Galaxy Z Flip5.</a>
      <div class="product-tech"></div>
      <div class="product-price">
        <span class="price">300.000₫</span>
      </div>
      <div class="product-status">
        <span>Mới 100%</span>
        <div class="product-rate">
          <div class="star-rating" style="--rating: 4.6;"></div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="tmpl-item-product">
    <div class="c-item">
      <a href="https://onewaymobile.vn/bao-da-ban-phim-samsung/bao-da-kem-ban-phim-galaxy-tab-s9-ultra-dp1184.html">
        <div class="product-image">
          <img class="img-responsive img-prd lazy-loaded" data-src="https://onewaymobile.vn/images/products/2023/08/21/resized/bao-da-kem-ban-phim-galaxy-tab-s9-ultra-1_1692619115.webp" width="170" height="170" onerror="this.src='/images/NA-icon.svg'" alt="Bao da kèm bàn phím Galaxy Tab S9 Ultra" src="https://onewaymobile.vn/images/products/2023/08/21/resized/bao-da-kem-ban-phim-galaxy-tab-s9-ultra-1_1692619115.webp">
          <div class="box-absolute">
            <div class="discount-box">Giảm 38%</div>
          </div>
          <div class="count_down_fl"></div>
        </div>
      </a>
      <a href="https://onewaymobile.vn/bao-da-ban-phim-samsung/bao-da-kem-ban-phim-galaxy-tab-s9-ultra-dp1184.html" class="product-name">Bao da kèm bàn phím Galaxy Tab S9 Ultra.</a>
      <div class="product-tech">
        <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Thương hiệu: 4G">4G</span>
        <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Loại ốp: Bao da">Bao da</span>
      </div>
      <div class="product-price">
        <span class="price">2.730.000₫</span>
        <del class="price-old">4.390.000₫</del>
      </div>
      <div class="product-status">
        <span>Mới 100%</span>
        <div class="product-rate">
          <div class="star-rating" style="--rating: 4.6;"></div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="tmpl-item-product">
    <div class="c-item">
      <a href="https://onewaymobile.vn/samsung-2/cu-sac-samsung-usb-c-25w-dp878.html">
        <div class="product-image">
          <img class="img-responsive img-prd lazy-loaded" data-src="https://onewaymobile.vn/images/products/2022/10/15/resized/sac-nhanh-samsung-1-cong-usb-c-25w-2_1665805637.webp" width="170" height="170" onerror="this.src='/images/NA-icon.svg'" alt="Củ sạc Samsung USB-C 25W" src="https://onewaymobile.vn/images/products/2022/10/15/resized/sac-nhanh-samsung-1-cong-usb-c-25w-2_1665805637.webp">
          <div class="box-absolute">
            <div class="discount-box">Giảm 38%</div>
          </div>
          <div class="count_down_fl"></div>
        </div>
      </a>
      <a href="https://onewaymobile.vn/samsung-2/cu-sac-samsung-usb-c-25w-dp878.html" class="product-name">Củ sạc Samsung USB-C 25W.</a>
      <div class="product-tech">
        <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Chức năng sạc: Sạc nhanh">Sạc nhanh</span>
        <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Công suất sạc: 25W">25W</span>
      </div>
      <div class="product-price">
        <span class="price">340.000₫</span>
        <del class="price-old">550.000₫</del>
      </div>
      <div class="product-status">
        <span>Mới 100%</span>
        <div class="product-rate">
          <div class="star-rating" style="--rating: 4.6;"></div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="tmpl-item-product">
    <div class="c-item">
      <a href="https://onewaymobile.vn/11-series/cuong-luc-kingbull-chong-nhin-trom-iphone-11-11pro-11promax-dp671.html">
        <div class="product-image">
          <img class="img-responsive img-prd lazy-loaded" data-src="https://onewaymobile.vn/images/products/2022/04/28/resized/kingbull-13-ct_1651141725.webp" width="170" height="170" onerror="this.src='/images/NA-icon.svg'" alt="Cường lực Kingbull chống nhìn trộm iPhone 11 / 11 Pro / 11 Pro max" src="https://onewaymobile.vn/images/products/2022/04/28/resized/kingbull-13-ct_1651141725.webp">
          <div class="box-absolute">
            <div class="discount-box">Giảm 60%</div>
          </div>
          <div class="count_down_fl"></div>
        </div>
      </a>
      <a href="https://onewaymobile.vn/11-series/cuong-luc-kingbull-chong-nhin-trom-iphone-11-11pro-11promax-dp671.html" class="product-name">Cường lực Kingbull chống nhìn trộm iPhone 11 / 11 Pro / 11 Pro max.</a>
      <div class="product-tech"></div>
      <div class="product-price">
        <span class="price">170.000₫</span>
        <del class="price-old">430.000₫</del>
      </div>
      <div class="product-status">
        <span>Mới 100%</span>
        <div class="product-rate">
          <div class="star-rating" style="--rating: 4.6;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
