<div class="title-block">
  <h2>Điện thoại nổi bật nhất</h2>
  <div class="list-cat">
    <a title="iPhone" class="item-cat" href="https://onewaymobile.vn/iphone-pc29.html">
      <span>iPhone</span>
    </a>
    <a title="Samsung" class="item-cat" href="https://onewaymobile.vn/samsung-pc51.html">
      <span>Samsung</span>
    </a>
    <a title="Xiaomi" class="item-cat" href="https://onewaymobile.vn/xiaomi-pc88.html">
      <span>Xiaomi</span>
    </a>
    <a title="Tecno" class="item-cat" href="https://onewaymobile.vn/tecno-pc348.html">
      <span>Tecno</span>
    </a>
    <a title="Nokia" class="item-cat" href="https://onewaymobile.vn/nokia-pc367.html">
      <span>Nokia</span>
    </a>
        
    <a title="Điện thoại" class="item-all" href="https://onewaymobile.vn/dien-thoai-pc106.html">
      Xem tất cả <b>123</b> sản phẩm                
    </a>
  </div>
</div>
<div class="list-products mb-5">
    <div class="tmpl-item-product">
        <div class="c-item">
            <a href="https://onewaymobile.vn/z-fold-6/dien-thoai-samsung-galaxy-z-fold-6-5g---ram-12gb---256gb-dp1590.html">
                <div class="product-image">
                    <img class="img-responsive img-prd lazy-loaded"
                         data-src="https://onewaymobile.vn/images/products/2024/07/03/resized/1_1720005546.webp"
                         width="170"
                         height="170"
                         onerror="this.src='/images/NA-icon.svg'"
                         alt="Điện thoại Samsung Galaxy Z Fold6 5G - RAM 12GB - 256GB"
                         src="https://onewaymobile.vn/images/products/2024/07/03/resized/1_1720005546.webp">
                    <div class="box-absolute">
                        <div class="installment-box">Trả góp 0%</div>
                    </div>
                    <div class="count_down_fl"></div>
                </div>
            </a>
            <a href="https://onewaymobile.vn/z-fold-6/dien-thoai-samsung-galaxy-z-fold-6-5g---ram-12gb---256gb-dp1590.html" class="product-name">
                Điện thoại Samsung Galaxy Z Fold6 5G - RAM 12GB - 256GB
            </a>
            <div class="slide-type flickity-enabled is-draggable" tabindex="0">
                <div class="flickity-viewport" style="height: 28px; touch-action: pan-y;">
                    <div class="flickity-slider" style="left: 0px; transform: translateX(6.32%);">
                        <div class="carousel-cell is-initial-select is-selected" style="position: absolute; left: 0px; transform: translateX(0%);">
                            <a href="https://onewaymobile.vn/z-fold-6/dien-thoai-samsung-galaxy-z-fold-6-5g---ram-12gb---256gb-dp1590.html" class="a-same active">256GB</a>
                        </div>
                        <div class="carousel-cell" aria-hidden="true" style="position: absolute; left: 0px; transform: translateX(110.11%);">
                            <a href="https://onewaymobile.vn/z-fold-6/dien-thoai-samsung-galaxy-z-fold-6-5g---ram-12gb---512gb-dp1591.html" class="a-same">512GB</a>
                        </div>
                        <div class="carousel-cell" aria-hidden="true" style="position: absolute; left: 0px; transform: translateX(296.98%);">
                            <a href="https://onewaymobile.vn/z-fold-6/dien-thoai-samsung-galaxy-z-fold-6-5g---ram-12gb---1tb-dp1592.html" class="a-same">1TB</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-tech">
                <span data-toggle="tooltip" data-placement="top" title="Kích thước màn hình: 7.6" & 6.3" data-original-title="Kích thước màn hình: 7.6">7.6" &amp; 6.3"</span>
                <span data-toggle="tooltip" data-placement="top" title="Tần số quét: 1~120Hz" data-original-title="Tần số quét: 1~120Hz">1~120Hz</span>
            </div>
            <div class="product-price">
                <span class="price">43.990.000₫</span>
            </div>
            <div class="product-status">
                <span>Hàng sắp về</span>
                <span>Mới 100%</span>
                <div class="product-rate">
                    <div class="star-rating" style="--rating: 4.6;"></div>
                </div>
            </div>
        </div>
    </div>
    <% (1..9).each do %>
      <div class="tmpl-item-product">
          <div class="c-item">
              <a href="https://onewaymobile.vn/z-flip-6/dien-thoai-samsung-galaxy-z-flip-6-5g---ram-12gb---256gb-dp1588.html">
                  <div class="product-image">
                      <img class="img-responsive img-prd lazy-loaded"
                            data-src="https://onewaymobile.vn/images/products/2024/07/03/resized/4_1720004628.webp"
                            width="170"
                            height="170"
                            onerror="this.src='/images/NA-icon.svg'"
                            alt="Điện thoại Samsung Galaxy Z Flip6 5G - RAM 12GB - 256GB"
                            src="https://onewaymobile.vn/images/products/2024/07/03/resized/4_1720004628.webp">
                      <div class="box-absolute">
                          <div class="installment-box">Trả góp 0%</div>
                      </div>
                      <div class="count_down_fl"></div>
                  </div>
              </a>
              <a href="https://onewaymobile.vn/z-flip-6/dien-thoai-samsung-galaxy-z-flip-6-5g---ram-12gb---256gb-dp1588.html" class="product-name">
                  Điện thoại Samsung Galaxy Z Flip6 5G - RAM 12GB - 256GB
              </a>
              <div class="list-type">
                  <a href="https://onewaymobile.vn/z-flip-6/dien-thoai-samsung-galaxy-z-flip-6-5g---ram-12gb---256gb-dp1588.html" class="a-same active">256GB</a>
                  <a href="https://onewaymobile.vn/z-flip-6/dien-thoai-samsung-galaxy-z-flip-6-5g---ram-12gb---512gb-dp1589.html" class="a-same">512GB</a>
              </div>
              <div class="product-tech">
                  <span data-toggle="tooltip" data-placement="top" title="Kích thước màn hình: 6.7" & 3.4"" data-original-title="Kích thước màn hình: 6.7">6.7" &amp; 3.4"</span>
                  <span data-toggle="tooltip" data-placement="top" title="Tần số quét: 60Hz" data-original-title="Tần số quét: 60Hz">60Hz</span>
              </div>
              <div class="product-price">
                  <span class="price">28.990.000₫</span>
              </div>
              <div class="product-status">
                  <span>Mới 100%</span>
                  <div class="product-rate">
                      <div class="star-rating" style="--rating: 4.6;"></div>
                  </div>
              </div>
          </div>
      </div>
    <% end %>
</div>
