<nav class="navbar navbar-light bg-light justify-content-between header">
  <a class="navbar-brand px-5 item-header">
    <%= image_tag "logo.png", style: 'height:50px; width:250px; object-fit: contain;' %>
  </a>
</nav>
