<div class="title-block">
  <h2>Nhà thông minh</h2>
  <div class="list-cat">
      <a title="Máy hút bụi cầm tay" class="item-cat" href="https://onewaymobile.vn/may-hut-bui-cam-tay-pc208.html">
        <span>Máy hút bụi cầm tay</span>
      </a>
      <a title="Robot hút bụi" class="item-cat" href="https://onewaymobile.vn/robot-hut-bui-pc91.html">
        <span>Robot hút bụi</span>
      </a>
      <a title="Máy lọc không khí" class="item-cat" href="https://onewaymobile.vn/may-loc-khong-khi-pc92.html">
        <span>Máy lọc không khí</span>
      </a>
      <a title="Camera AI" class="item-cat" href="https://onewaymobile.vn/camera-ai-pc95.html">
        <span>Camera AI</span>
      </a>
      <a title="Đồ gia dụng thông minh" class="item-cat" href="https://onewaymobile.vn/do-gia-dung-thong-minh-pc96.html">
        <span>Đồ gia dụng thông minh</span>
      </a>
          
      <a title="Nhà thông minh" class="item-all" href="https://onewaymobile.vn/nha-thong-minh-pc89.html">
        Xem tất cả <b>76</b> sản phẩm                
      </a>
  </div>
</div>
<div class="list-products">
    <div class="tmpl-item-product">
        <div class="c-item">
            <a href="https://onewaymobile.vn/levoit-core/may-loc-khong-khi-levoit-core-400s-dp772.html">
                <div class="product-image">
                    <img class="img-responsive img-prd lazy-loaded" data-src="https://onewaymobile.vn/images/products/2022/07/28/resized/may-loc-khong-khi-levoit-core-400s-1_1659000636.webp" width="170" height="170" onerror="this.src='/images/NA-icon.svg'" alt="Máy lọc không khí Levoit Core 400S" src="https://onewaymobile.vn/images/products/2022/07/28/resized/may-loc-khong-khi-levoit-core-400s-1_1659000636.webp">
                    <div class="box-absolute">
                        <div class="discount-box">Giảm 14%</div>
                        <div class="installment-box">Trả góp 0%</div>
                    </div>
                    <div class="count_down_fl"></div>
                </div>
            </a>
            <a href="https://onewaymobile.vn/levoit-core/may-loc-khong-khi-levoit-core-400s-dp772.html" class="product-name">Máy lọc không khí Levoit Core 400S.</a>
            <div class="product-tech">
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Trọng lượng: 5kg">5kg</span>
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Độ ồn: 24-52dB">24-52dB</span>
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Diện tích sử dụng: ≤ 92m²">≤ 92m²</span>
            </div>
            <div class="product-price">
                <span class="price">4.290.000₫</span>
                <del class="price-old">4.990.000₫</del>
            </div>
            <div class="product-status">
                <span>Mới 100%</span>
                <div class="product-rate">
                    <div class="star-rating" style="--rating: 4.6;"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="tmpl-item-product">
        <div class="c-item">
            <a href="https://onewaymobile.vn/tv-xiaomi/smart-tivi-tivi-xiaomi-hd-a-43-inch-dp1193.html">
                <div class="product-image">
                    <img class="img-responsive img-prd lazy-loaded" data-src="https://onewaymobile.vn/images/products/2023/08/24/resized/xiaomi-a-43-3_1692870740.webp" width="170" height="170" onerror="this.src='/images/NA-icon.svg'" alt="Smart Tivi Tivi Xiaomi HD A 43 inch" src="https://onewaymobile.vn/images/products/2023/08/24/resized/xiaomi-a-43-3_1692870740.webp">
                    <div class="box-absolute"></div>
                    <div class="count_down_fl"></div>
                </div>
            </a>
            <a href="https://onewaymobile.vn/tv-xiaomi/smart-tivi-tivi-xiaomi-hd-a-43-inch-dp1193.html" class="product-name">Smart Tivi Tivi Xiaomi HD A 43 inch.</a>
            <div class="product-tech">
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Kích thước màn hình: 43">43"</span>
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Độ phân giải: FullHD">FullHD</span>
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Tần số quét: 60Hz">60Hz</span>
            </div>
            <div class="product-price">
                <span class="price">5.990.000₫</span>
            </div>
            <div class="product-status">
                <span>Mới 100%</span>
                <div class="product-rate">
                    <div class="star-rating" style="--rating: 4.6;"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="tmpl-item-product">
        <div class="c-item">
            <a href="https://onewaymobile.vn/dreame/robot-hut-bui-dreame-d9-max-dp1023.html">
                <div class="product-image">
                    <img class="img-responsive img-prd lazy-loaded" data-src="https://onewaymobile.vn/images/products/2023/02/21/resized/dreame-d9-max-0_1676979073.webp" width="170" height="170" onerror="this.src='/images/NA-icon.svg'" alt="Robot hút bụi Dreame D9 Max" src="https://onewaymobile.vn/images/products/2023/02/21/resized/dreame-d9-max-0_1676979073.webp">
                    <div class="box-absolute">
                        <div class="discount-box">Giảm 18%</div>
                        <div class="installment-box">Trả góp 0%</div>
                    </div>
                    <div class="count_down_fl"></div>
                </div>
            </a>
            <a href="https://onewaymobile.vn/dreame/robot-hut-bui-dreame-d9-max-dp1023.html" class="product-name">Robot hút bụi Dreame D9 Max.</a>
            <div class="product-tech">
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Lực hút: 4000 Pa">4000 Pa</span>
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Trọng lượng: 3.8 kg">3.8 kg</span>
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Dung lượng pin: 5200mAh">5200mAh</span>
            </div>
            <div class="product-price">
                <span class="price">4.890.000₫</span>
                <del class="price-old">5.990.000₫</del>
            </div>
            <div class="product-status">
                <span>Mới 100%</span>
                <div class="product-rate">
                    <div class="star-rating" style="--rating: 4.6;"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="tmpl-item-product">
        <div class="c-item">
            <a href="https://onewaymobile.vn/smarock/may-hut-bui-giuong-nem-smarock-dual-cup-s10-dp1111.html">
                <div class="product-image">
                    <img class="img-responsive img-prd lazy-loaded" data-src="https://onewaymobile.vn/images/products/2023/03/22/resized/smarock-dual-cup-s10-2_1679472519.webp" width="170" height="170" onerror="this.src='/images/NA-icon.svg'" alt="Máy hút bụi giường nệm Smarock Dual Cup S10" src="https://onewaymobile.vn/images/products/2023/03/22/resized/smarock-dual-cup-s10-2_1679472519.webp">
                    <div class="box-absolute">
                        <div class="discount-box">Giảm 48%</div>
                    </div>
                    <div class="count_down_fl"></div>
                </div>
            </a>
            <a href="https://onewaymobile.vn/smarock/may-hut-bui-giuong-nem-smarock-dual-cup-s10-dp1111.html" class="product-name">Máy hút bụi giường nệm Smarock Dual Cup S10.</a>
            <div class="product-tech">
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Lực hút: 13KPa">13KPa</span>
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Trọng lượng: 2.05 kg">2.05 kg</span>
            </div>
            <div class="product-price">
                <span class="price">990.000₫</span>
                <del class="price-old">1.890.000₫</del>
            </div>
            <div class="product-status">
                <span>Mới 100%</span>
                <div class="product-rate">
                    <div class="star-rating" style="--rating: 4.6;"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="tmpl-item-product">
        <div class="c-item">
            <a href="https://onewaymobile.vn/quat-thong-minh/quat-thong-minh-mi-smart-standing-fan-2-lite-dp749.html">
                <div class="product-image">
                    <img class="img-responsive img-prd lazy-loaded" data-src="https://onewaymobile.vn/images/products/2022/07/16/resized/xiaomi-mi-smart-standing-fan-2-lite-oneway_1657951891.webp" width="170" height="170" onerror="this.src='/images/NA-icon.svg'" alt="Quạt thông minh Mi Smart Standing Fan 2 Lite" src="https://onewaymobile.vn/images/products/2022/07/16/resized/xiaomi-mi-smart-standing-fan-2-lite-oneway_1657951891.webp">
                    <div class="box-absolute"></div>
                    <div class="count_down_fl"></div>
                </div>
            </a>
            <a href="https://onewaymobile.vn/quat-thong-minh/quat-thong-minh-mi-smart-standing-fan-2-lite-dp749.html" class="product-name">Quạt thông minh Mi Smart Standing Fan 2 Lite.</a>
            <div class="product-tech">
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Độ ồn: ≤58 dB(A)">≤58 dB(A)</span>
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Dòng điện vào: 220 V">220 V</span>
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Công suất: 38W">38W</span>
            </div>
            <div class="product-price">
                <span class="price">890.000₫</span>
            </div>
            <div class="product-status">
                <span>Mới 100%</span>
                <div class="product-rate">
                    <div class="star-rating" style="--rating: 4.6;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
